/* initialization for all elements  */
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100% 100% !important;
  background-color: #efefef  !important;
}

:root {
  --header-font:  'Lalezar', cursive;
  --black: black;
}

/* header style starts */
#header {
  width:100%;
}

#header header {
  height: 90px;
  background-color: white;
}

/* header image logo */
#header header .glosys-logo {
  padding: 10px 10px 5px 30px;
  float: left;
}

/* header image */
#header header .glosys-logo img {
  width:280px;
  height: 70px;
}

#log-out {
  float:right;
  margin:25px 40px auto auto;
}

#log-out .username {
  float: left;
  font-size: 30px;
  margin:5px 20px auto auto;
  font-family: var(--header-font);
}

#log-out form {
  float: right;
}

#log-out form input {
  width:100px;
  height: 40px;
  font-family: var(--header-font);
  font-size: 20px;
}

.user-option-tabs {
  height: 70px;
  width:100%;
  background-color: #bbb;
}

.user-option-tabs button {
   height: 100%;
   width: 200px;
   background-color: inherit;
   float: left;
   border: none;
   cursor: pointer;
   transition: 0.2s;
   font-size: 24px;
   font-family: 'Paytone One', sans-serif;
}

.user-option-tabs button.active {
    background-color: #888;
    color: white;
}

.user-option-tabs button:hover {
    background-color: #eee;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* for room booking */
#book-room-form {
  width: 40%;
  margin: 30px auto;
  padding: 1.5%;
  border-radius: 5px;
  font-family: 'Paytone One', sans-serif;
  background-color: rgba(255,255,255,0.9);
}

#book-room-form .book-room-header {
  font-size: 30px;
  height:50px;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#book-room-form .form-group {
  width:80%;
  margin: 0 auto;
  margin: 10px auto 20px 80px;
}

#book-room-form .form-group label {
  font-size: 22px;
  color: black;
}

#book-room-form .form-group input , #book-room-form .form-group select {
  width: 75%;
  height: 40px;
  font-size: 18px;
}

#book-room-form input[type="submit"] {
  font-size: 20px;
  width: 25%;
  margin-left: 80px;
}

/* for alert message */
/* #book-room #alert {
  width: 530px;
  height: 70px;
  background-color: #4CAF50;
  color: white;
  font-size: 28px;
  border-radius: 2px;
  margin: 0 auto;
  font-family: 'Lalezar', cursive;
  display: none;
}

#book-room #alert .alert-text {
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
} */
