/* initialization for all elements  */
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100% 100% !important;
  background-color: #efefef  !important;
}

:root {
  --header-font:  'Lalezar', cursive;
  --black: black;
}

/* header style starts */
#header {
  width:100%;
}

#header header {
  height: 90px;
  background-color: white;
}

/* header image logo */
#header header .glosys-logo {
  padding: 10px 10px 5px 30px;
  float: left;
}

/* header image */
#header header .glosys-logo img {
  width:280px;
  height: 70px;
}

#log-out {
  float:right;
  margin:25px 40px auto auto;
}

#log-out .username {
  float: left;
  font-size: 30px;
  margin:5px 20px auto auto;
  font-family: var(--header-font);
}

#log-out form {
  float: right;
}

#log-out form input {
  width:100px;
  height: 40px;
  font-family: var(--header-font);
  font-size: 20px;
}